# Domain (e.g. auth.example.com)
DOMAIN=auth.yourdomain.com
ACME_EMAIL=admin@yourdomain.com

# Versions
ZITADEL_IMAGE_TAG=v4.7.0-debug
ZITADEL_LOGIN_IMAGE_TAG=v4.7.0

# Security (Must be 32 characters long!)
# Generate with: openssl rand -base64 32 | tr -d '\n' | cut -c1-32
ZITADEL_MASTERKEY=Your32CharLongKeyHereXyZ

# Database
POSTGRES_USER=zitadel
POSTGRES_PASSWORD=VerySecurePassword
POSTGRES_DB=zitadel