global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: DEBUG

accessLog: {}

api:
  insecure: false

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik/dynamic
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesResolvers:
  myresolver:
    acme:
      # Email provided via environment variable: TRAEFIK_CERTIFICATESRESOLVERS_MYRESOLVER_ACME_EMAIL
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"

serversTransport:
  insecureSkipVerify: true
